/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color-light: #ccc;
  --border-color: rgb(218, 218, 218);
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

/* GENERAL */

.row-middle {
  align-items: center;
}

.calendar-col-start {
  justify-content: flex-start;
  text-align: left;
}

.calendar-col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar .header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  padding: 1em 0;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .body .cell {
  position: relative;
  /* height: 5em; */
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 8px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 14px;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 500;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .body .calendar-col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}
